

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner">

    <div class="item active">
      <%= link_to image_tag("slide3.jpg", alt: "image", class:'img-responsive') %>
      <div class="carousel-caption">
        
      </div>
    </div>

    <div class="item">
      <%= link_to image_tag("slide1.jpg", alt: "image", class:'img-responsive') %>
      <div class="carousel-caption">
      
      </div>
    </div>

    <div class="item">
      <%= link_to image_tag("slide2.jpg", alt: "image", class:'img-responsive') %>
      <div class="carousel-caption">
    
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="carousel-control left" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="carousel-control right" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>


<!-- Carousel Finished -->

<div class="big-container">

<div class="container">



  <div class="mid-text-container">
    <h1>Only beautiful & intuitive design, produced in Los Angeles, CA</h1>
      <p>We are specialists in the creation of online brand identities</p>
  </div>




<div class="row index-row">

    <div class="col-sm-4">
        <div class="media">
            <div class="row ">
                <div class="media-img  pull-left  col-sm-5  col-md-4 ">
                    <div class="img-overlay "> 
                        <a class="btn  btn-primary  animated fadeInUp needsclick" href="/en/about/" rel="bookmark">Open</a> 
                    </div>

                    <%= image_tag('computer.jpg', class: 'pull-left media-img', alt: 'About') %>
                </div>

                <div class="media-body   col-sm-7 col-md-8  ">
                    <h4 class="media-heading"> <%= link_to 'About', root_path, class: 'media-heading' %></h4>
                    <p class="hidden-sm">"What is Noris Creative, our clients and our specialties."</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="media">
            <div class="row ">
                <div class="media-img pull-left   col-sm-5 col-md-4 ">
                    <div class="img-overlay  "> 
                        <a class="btn  btn-primary  animated fadeInUp needsclick" href="/en/portfolio/" rel="bookmark">Open</a> 
                    </div>

                    <%= image_tag('notebook.jpg', class: 'media-img', alt: 'Portfolio') %>
                </div>
                <div class="media-body   col-sm-7  col-md-8 ">
                    <h4 class="media-heading"> <%= link_to 'Portfolio', root_path, class: 'media-heading' %></h4>
                    <p class="hidden-sm">Web design, app design and marketing strategy</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="media">
            <div class="row ">
                <div class="media-img  pull-left   col-sm-5 col-md-4 ">
                    <div class="img-overlay "> 
                        <a class="btn  btn-primary  animated fadeInUp needsclick" href="/en/contacts/" rel="bookmark">Open</a> 
                    </div>

                    <%= image_tag('building.jpg', class: 'media-img', alt: 'Contacts', type: 'button') %>                                        
                </div>

                <div class="media-body  col-sm-7 col-md-8 ">
                    <h4 class="media-heading"><%= link_to 'Contacts', root_path, class: 'media-heading' %></h4>
                    <p class="hidden-sm">Where to find the <strong>Creatives</strong> contact module and more.</p>
                </div>
            </div>
        </div>
    </div>

</div> 




</div>


</div>



<div class="footer">
  <div class="container">
    <div class="row index-row footer-all">

      <div class="col-sm-5 index-left footer-1">
        <p><strong>Noris Creative </strong> Marketing, Web & Online Design Agency</p>
        <p>
        Los Angeles California 
        +661 373 4185 - email address @ .com 
        </p>
      </div>

      <div class="col-sm-5 index-middle footer-2">
        <p><strong>From the Blog</strong></p>
        <p>Coming Soon...</p>
      </div>

      <div class="col-sm-2 index-right footer-3">
        Logo Will Go Here
      </div>

    </div>



  <hr>

      <div class="super-footer">
          <div class="social-icons">
            Social Icons Will Go Here(Facebook, Twitter, etc)
          </div>

          <p class="copyright">
              <a href="#">
                  <font>
                      <font>Privacy and legal notices</font>
                  </font> 
              </a>
                  <font>
                      <font>  - © 2014 Noris Creative</font>
                  </font>


      </div>
  </div>

</div>
           


              